*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#titre-form {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 40px;
}

#form-log {
  display: flex;
  width: 450px;
  height: 500px;
  padding: 3rem;
  border: solid 1px black;
  border-radius: 5px;
  /* background-color: aqua; */
  justify-content: center;
  margin: 7rem auto;
}

.form-row {
  height: 100%;
  width: 100%;
  /* background-color: chocolate; */
}

.form-input{
  padding: 10px;
  width: 100%;
}

.div-input.mdp {
  padding-top: 50px;
  padding-bottom: 50px;
}

#div-button {
  display: flex;
  justify-content: center;
}

#log-bouton {
  background-color: aquamarine;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
